$logos: (
  ("add", url("/assets/image/add.svg?sanitize=true")),
  ("tascs", url("/assets/image/tascs.svg?sanitize=true")),
  ("process", url("/assets/image/process.svg?sanitize=true")),
  ("search", url("/assets/image/search.svg?sanitize=true")),
  ("profile", url("/assets/image/profileLogo.svg?sanitize=true"))
);

.nav-bar {
  width: 10vw;
  height: 100%;
  position: relative;
  left: 0;
  background-color: #3e3e3e;

  &__wrapper {
    position: relative;
    top: 0px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    @each $logo in $logos {
      &.#{nth($logo,1)} {
        background: #{nth($logo,2)} no-repeat center/100%;
      }
    }
  }
}